/* Randy Nguyen 
Fruit Search Project */

body {
  text-align: center;
  background: linear-gradient(90deg, rgba(9,70,121,1) 35%, rgba(0,212,255,1) 100%);
}


.search-container {
  text-align: center;
  width: 300px;
  top: 50%;
  height: 200px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}
.search-container input {
  width: 250px;
  height: 30px;
  padding-left: 5px;
}
.suggestions ul {
  width: 240px;
  margin: 0;
  margin-left: 20px;
  padding: 0px;
}

.search-container input {
 background-color: #ffffff66;
 border-radius: 1px;
 border: 1px white solid;

}
.search-container .suggestions {
   margin-top: -1px;
}

ul li {
  text-align: left;
  display: block;
  background: #ffffffc9;
  border-radius: 1px;
  color: #444;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

ul li:hover {
  background: #ffffff83;
  
}
